/* Reset básico para estandarizar estilos en diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif; /* Ajusta la fuente a tu preferencia */
    line-height: 1.6;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}

.container {
    max-width: 800px; /* O el ancho que prefieras */
    margin: auto;
    padding: 20px;
}








