@import url("https://fonts.googleapis.com/css2?family=Anta&family=Nunito:wght@200&display=swap");
/* Estilos para el contenedor principal */
/* Alinea el contenedor principal al centro verticalmente y horizontalmente */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh; /* Garantiza que el contenedor tenga al menos el alto de la ventana */
    padding: 20px;
}

/* Estilos para los formularios */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Ajusta el ancho del formulario según prefieras */
    max-width: 400px; /* Limita el ancho máximo del formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(28, 0, 30);
    background-color: #613d97;
    align-items: center;
}

/* Estilos para los campos de entrada */
.input {
    font-family: "Anta", sans-serif;
    padding: 10px;
    border: none;
    background-color: #6d6552;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
}
input:focus {
    outline: none; /* Elimina el borde al enfocar el input */
    background-color: #4b453a;
}

.BotonesDiv {
    display: flex;
    justify-content: space-between;
}
.BotonesDiv .button {
    margin-right: 10px; /* Agrega espacio entre los botones */
}
/* Estilos para los botones */
.button {
    padding: 8px 10px; /* Reducir el padding para hacer el botón más pequeño */
    border: none;
    border-radius: 4px;
    background-color: #aeaeae;
    font-family: "Anta", sans-serif;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    width: 140px; /* Ancho del botón */
}

/* Estilos para el botón secundario */
.buttonSecondary {
    background-color: #c54b4b;
    font-family: "Anta", sans-serif;
    color: #000000;
    border: none;
    padding: 8px 5px; /* Reducir el padding para hacer el botón más pequeño */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 140px; /* Ancho del botón secundario */
}

/* Efecto hover para los botones */
.button:hover {
    opacity: 0.8; /* Reduce la opacidad al pasar el ratón */
    color: #000000; /* Cambia el color del texto al pasar el ratón */
}

.buttonSecondary:hover {
    opacity: 0.8; /* Reduce la opacidad al pasar el ratón */
    border-color: #aaa; /* Cambia el color del borde al pasar el ratón */
    color: #000000; /* Cambia el color del texto al pasar el ratón */
}

.userInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(28, 0, 30);
    background-color: #613d97;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Ajustes adicionales para el texto y otros elementos dentro de userInfoContainer */
.userInfoText {
    text-align: center; /* Centra el texto dentro de su contenedor */
}
/*! Aqui me esta dando problemas todo*/


.alinearItems img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste proporcionalmente */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    display: block;
}




.FotoPerfil {
    border-radius: 200px;
    border: #000000 1px solid;
    user-select: none;
    pointer-events: none;

}

.Texto {
    font-family: "Anta", sans-serif;
    font-style: normal;
    color: white;
    user-select: none;
    pointer-events: none;
}
