@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

.tuClaseFormulario {
    background: #222;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 500px;
    max-width: 100%;
    margin: 0 auto; /* Centra el formulario horizontalmente */
    display: flex;
    flex-direction: column;
    font-family: "Anta", sans-serif; /* Aplica la fuente Anta */
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-family: "Anta", sans-serif; /* Aplica la fuente Anta */
}

.input,
.textarea,
.boton {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background: #444;
    color: #ddd;
    box-sizing: border-box;
    outline-color: #666; /* Cambia el color del borde al enfocarse */
    font-family: "Anta", sans-serif; /* Aplica la fuente Anta */
}

/* Elimina las flechas en los inputs de tipo number */
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mensajeError {
    color: #ff6347;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Anta", sans-serif; /* Aplica la fuente Anta */
}

/* Estilos adicionales para :focus en inputs para reemplazar el borde azul predeterminado */
.input:focus,
.textarea:focus,
.boton:focus {
    border: 1px solid #666; /* Cambia el borde a un gris más oscuro */
    outline: none; /* Elimina el outline predeterminado */
    font-family: "Anta", sans-serif; /* Asegura que la fuente Anta se aplique en el foco */
}

/* Añade tus estilos de responsividad y otros estados (:hover, :focus) aquí */
