@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@keyframes animatedBackground {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
  }

  body {
    background: linear-gradient(270deg, #483d8b, #6a5acd, #7b68ee, #6a5acd, #483d8b);
    background-size: 400% 400%;
    animation: animatedBackground 15s ease infinite;
  }

.Pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    font-family: "Anta", sans-serif;
}

/* Estilo para el contenedor de los productos */
.productosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Asegura que los elementos se distribuyan uniformemente */
    align-items: flex-start; /* Alinea los elementos al comienzo del contenedor */
    padding: 20px; /* Añade un poco de espacio dentro del contenedor */
}

/* Estilo para cada producto */
.producto {
    flex: 0 1 calc(25% - 40px); /* flex-grow, flex-shrink, flex-basis */
    margin: 10px; /* Margen entre productos */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto del elemento */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Efecto suave al pasar el mouse */
}

.producto:hover {
    transform: translateY(-5px); /* Eleva el producto al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más profunda al pasar el mouse */
}
/* Estilo para imágenes para asegurar que se ajusten dentro de las tarjetas más pequeñas */
.producto img {
    max-width: 300px; /* Ajusta el tamaño de la imagen */
    max-height: 300px;
    border-radius: 4px;
    margin-bottom: 8px;
}
.producto h3 {
    padding-top: 10px;
    margin: 5px;
}
.producto p {
    margin: 10px;
}

/*! Estilo de botones */
.producto button {
    background-color: #3498db; /* Un azul más suave */
    border-radius: 50px; /* Redondeo moderado */
    border: 2px solid transparent; /* Borde transparente que puede cambiar al interactuar */
    color: #ffffff; /* Mantenemos el color blanco para el texto */
    font-size: 14px; /* Tamaño de letra más grande para mejor legibilidad */
    font-weight: bold; /* Fuente en negrita para destacar */
    padding: 7px 10px; /* Más relleno para un botón más grande y cómodo */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón para indicar que es clickeable */
    transition: background-color 0.3s, transform 0.2s; /* Transición suave para el color de fondo y transformación */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
}
.botonesNav {
    display: flex; /* Alinea los botones en fila */
    justify-content: space-between; /* Añade espacio entre los botones */
    align-items: center; /* Centra los botones verticalmente */
    gap: 10px; /* Espacio adicional entre botones si no quieres que estén muy juntos */
}

.botonesNav button {
    background-color: #007bff;
    color: white; /* Cambia el color del texto a blanco para mejor contraste */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Aumenta el tamaño del botón */
    font-size: 16px; /* Hace el texto un poco más grande */
    cursor: pointer; /* Cambia el cursor a un puntero */
    transition: background-color 0.3s ease, transform 0.2s; /* Suaviza la transición de color y transformación */
}

.botonesNav button:hover {
    background-color: #0056b3; /* Cambia el color al pasar el mouse para un feedback visual */
    transform: scale(
        1.05
    ); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

.botonesNav button:active {
    background-color: #004089; /* Hace el botón un poco más oscuro al hacer clic */
    transform: scale(0.95); /* Reduce ligeramente el tamaño al hacer clic */
}

/*!Estilos para el modal */
.modal {
    position: fixed; /* Posicionamiento fijo para cubrir toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* Semi-transparente para oscurecer el fondo */
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1200px;
}

.closeButton {
    align-self: flex-end;
    font-size: 1em; /* Reducido para hacer el botón más pequeño */
    cursor: pointer;
    padding: 5px; /* Ajusta el padding para cambiar el tamaño clickeable */
    margin-right: -10px; /* Ajusta según sea necesario para alinear correctamente */
    margin-top: -10px; /* Ajusta según sea necesario */
    border-radius: 50%; /* Hace el botón redondo */
    background-color: #5c5c5c; /* Color de fondo para hacerlo más visible */
    color: white; /* Color del texto */
    display: inline-flex; /* Usa flex para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    width: 20px; /* Establece un ancho fijo */
    height: 20px; /* Establece una altura fija */
}

.modalBody {
    display: flex;
    width: 100%;
}

.modalImageContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.modalImage img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.modalSecondaryImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.imagenSecundaria {
    width: 60px;
    margin: 5px;
    cursor: pointer;
}

.modalInfo {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: space-around; /* Alinea el contenido para empujar el botón hacia abajo */
}

.modalInfo p {
    margin-top: 0; /* Reduce el margen superior para juntarlos más */
    margin-bottom: 0; /* Ajusta este valor según necesites para controlar el espacio entre párrafos */
    text-align: justify; /* Opcional: Alinea el texto de manera justificada para un inicio uniforme y final */
    margin-left: 150px; /* Establece un margen izquierdo uniforme para alinearlos en el mismo eje Y */
}

.modalInfo button {
    padding: 8px 15px; /* Reducimos el padding para hacer el botón más pequeño */
    font-size: 0.8rem; /* Ajustamos el tamaño de la fuente para hacer el texto más pequeño */
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    border: none; /* Sin bordes */
    border-radius: 15px; /* Bordes más redondeados */
    cursor: pointer; /* Indica que es clickeable */
    margin-top: 20px; /* Mantenemos el margen superior */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
    width: 150px;
    align-self: center;
}

/* Añade un efecto al pasar el mouse para mejorar la interacción */
.modalInfo button:hover {
    background-color: #0056b3; /* Oscurece el botón al pasar el mouse */
}
