@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
/* Navbar.module.css */

.navbar {
    background-color: #4c2882;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px; /* Aumentado para dar más espacio */
    height: 100px; /* Altura ajustada para adaptarse al logo más grande */
    border-radius: 10px;
    font-family: "Anta", sans-serif;
}

.linksContainer {
    display: flex;
    justify-content:space-around; /* Distribuye uniformemente los enlaces */
    align-items: center; /* Centra verticalmente los enlaces */
    width: calc(100% - 200px); /* Ajusta el ancho excluyendo el espacio del logo */
}

.logo {
    width: 150px; /* Tamaño del logo */
    margin-right: 20px; /* Separación entre el logo y los enlaces */
    pointer-events: none; /* Evita que se puedan atravesar los elementos */
}

.navLink {
    color: white; /* o cualquier otro color que resalte sobre el morado */
    background-color: #613d97; /* Ejemplo de un tono de morado */
    text-align: center;
    padding: 20px 24px; /* Aumentado para hacer el botón más grande */
    text-decoration: none;
    font-size: 18px; /* Aumentado para un mejor balance con el botón más grande */
    font-weight: bold;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para hover */
}

.navLink:hover {
    background-color: #6d6552; /* Un tono más oscuro de morado para el efecto hover */
}





.navButton {
    color: white; /* o cualquier otro color que resalte sobre el morado */
    background-color: #613d97; /* Ejemplo de un tono de morado */
    text-align: center;
    padding: 20px 24px; /* Aumentado para hacer el botón más grande */
    margin-right: 10px; /* Agrega espacio entre los botones si es necesario */
    text-decoration: none;
    font-size: 18px; /* Aumentado para un mejor balance con el botón más grande */
    font-weight: bold;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para hover */
    border: none;
}
.navButton:hover {
    background-color: #6d6552; /* Un tono más oscuro de morado para el efecto hover */
}
